{% extends 'base.html.twig' %}

{% block title %}Add your event{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <input type="submit" class="btn" value="Save event" />
        {% for message in app.flashes('notice') %}
            <div class="mt-5 alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
